.episode-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 80px;
}
.episode-head {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
}
.episode-box .line {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.episode-content {
  display: flex;
  margin-top: 28px;
  width: 100%;
  flex-grow: 1;
  gap: 28px;
}
.episode-previous {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.episode-previous img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.episode-name {
  padding-top: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}
.episode-description {
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5px;
}
.episode-next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.episode-next img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
