.episodeBox {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  margin-top: 80px;
}
.episodeHead {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
}
.episodeBox .line {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.episodeContent {
  display: flex;
  margin-top: 28px;
  width: 100%;
  flex-grow: 1;
  gap: 28px;
}
.episodePrevious {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.episodePrevious img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.episodeName {
  padding-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}
.episodeDescription {
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 4px;
}
.episodeNext {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.episodeNext img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
