.explore-box {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 596px;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.explore-head {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;

  color: #000000;
}
.explore-box .line {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.explore-content {
  margin-top: 28px;
  height: 249px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.explore-content-tag {
  display: flex;
  flex-direction: column;
  width: 240px;
}
.explore-content-tag img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.explore-title {
  text-align: center;
  font-weight: 600;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.explore-description {
  font-weight: 400;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
