.charInd {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  max-width: 1200px;
}
.charItem:hover {
  border: 2px solid black;
  box-shadow: 0 2px 4px 0 rgba(10, 10, 20, 0.15);
}
.charItem {
  border: 2px solid white;
  border-radius: 12x;
  cursor: pointer;
  margin: 32px 40px;
  width: 256px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.charSubitem img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.charTxt {
  color: white;
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 10px 8px 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.searchLoaderOnline {
  color: #498467;
  text-align: center;
}
.searchLoaderOffline {
  color: #6d6a75;
  text-align: center;
}
