.char-ind {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  max-width: 1200px;
}
.char-item:hover {
  border: 2px solid black;
  box-shadow: 0 1px 4px 0 rgba(10, 10, 20, 0.15);
}
.char-item {
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px 40px;
  width: 250px;
}

.char-subitem img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.char-txt {
  color: white;
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
