.welcome-box {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
  height: 417px;
  width: 800px;
  /* background-color: yellow; */
  margin-left: auto;
  margin-right: auto;
}
.welcome {
  margin-bottom: 36px;
  font-family: 'Rouge Script', cursive; 
  font-size: 50px; 
  font-weight: normal; 
  /* line-height: 48px;  */
  margin: 0 0 50px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34;
  /* font-weight: 400;
  font-size: 28px;
  line-height: 42px; */
  /* padding: 5px; */
  /* identical to box height */
  /* background-color: #498467; */
  color: #498467;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.carousal {
  /* background-color: green; */
  flex-grow: 1;
}
.carousal-img {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
}
