.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.character-card-heading-online,
.character-card-heading-offline {
  margin-top: 100px;
  /* font-family: "Rouge Script", cursive; */
  padding: 10px;
  border-radius: 5px;
}
.character-card-heading-online {
  color: #498467;
}
.character-card-heading-offline {
  color: #6d6a75;
}

.character-card-list {
  list-style: none;
  align-items: center;
  font-size: 21px;
}

.character-card-items-online,
.character-card-items-offline {
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.character-card-items-online:hover {
  background-color: #498467;
  color: white;
}
.character-card-items-offline:hover {
  background-color: #6d6a75;
  color: white;
}
