.characterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.characterCardHeadingOnline,
.characterCardHeadingOffline {
  margin-top: 100px;
  padding: 12px;
  border-radius: 4px;
}
.characterCardHeadingOnline {
  color: #498467;
}
.characterCardHeadingOffline {
  color: #6d6a75;
}

.characterCardList {
  list-style: none;
  align-items: center;
  font-size: 20px;
}

.subHead {
  font-weight: 900;
}

.characterCardItemsOnline,
.characterCardItemsOffline {
  width: 320px;
  align-self: center;
  align-items: center;
  padding: 12px;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
}

.characterCardItemsOnline:hover {
  background-color: #498467;
  color: white;
}
.characterCardItemsOffline:hover {
  background-color: #6d6a75;
  color: white;
}
.characterCardItemsOnline img,
.characterCardItemsOffline img {
  border-radius: 12px;
}
