.episode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: auto;
}

.episode-card-heading {
  /* background-color: #498467; */
  color: #498467;
  padding: 10px;
  border-radius: 5px;
}

.episode-card-items {
  align-items: center;
  padding: 10px;
  border:2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.episode-card-list {
  list-style: none;
  align-items: center;
  font-size: 21px;
}
.episode-card-items:hover {
  background-color: aqua;
}

.episode-card-return {
  padding: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 150px;
  margin-top: 10px;
  border-color: white;
}
