.epInd {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}
.epItemOnline:hover,
.epItemOffline:hover {
  border: 2px solid black;
  box-shadow: 0 2px 4px 0 rgba(10, 10, 20, 0.15);
}
.epItemOnline,
.epItemOffline {
  width: 256px;
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 40px;
}
.epItemOnline {
  background-color: #498467;
}
.epItemOffline {
  background-color: #6d6a75;
}
.epSubitem {
  padding-top: 300px;
  min-width: 100%;
  min-height: 100%;
}

.epTxt {
  color: #ffffff;
  max-width: 100%;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
}
.searchLoaderOnline {
  color: #498467;
  text-align: center;
}
.searchLoaderOffline {
  color: #6d6a75;
  text-align: center;
}
